<h1>Cheerio!</h1>
<p>You now have</p>
<ul>
  <li>HTML5 Boilerplate</li>
  <li>jQuery</li>
  <li>Backbone.js</li>
  <li>Lodash</li>
  <li>Mocha</li>
</ul>
<p>installed.</p>
<h3>Enjoy coding! - Yeoman</h3>

