<a href="/" class="brand pulli-left">
  <img alt="Banner" border="0" src="images/banner.png"/>
</a>
<div class="navigation pull-right">
  <div class="project-title">Wine Forecasting Tool</div>
  <nav>
    <a href="/#" class="nav-dashboard active">home</a>
    <a href="/#dummy" class="nav-dashboard">dummy</a>
  </nav>
</div>
