<a href="/" class="brand pulli-left">
  <img alt="Banner" border="0" src="images/banner.png"/>
</a>
<div class="navigation pull-right">
  <div class="project-title">Wine Forecasting Tool</div>
  <nav>
    <a href="/#" id="home-link" class="nav-dashboard active">home</a>
    <a href="/#allProducts/99" id="all-products-link" class="nav-dashboard">All Products</a>
  </nav>
</div>
